
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/popup.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/auth.css') }}">
        
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/createStreamAccount.css') }}"> -->
        <title>Register</title>
    </head>
    <body>
        <div id='Box'>
            <img id='circle' src='static/images/top.png'></img>
            <img class='slideDown' id='usr-image' src="{{ url_for('static', filename='images/user_profile.png') }}" alt='usr-image'/>
            <center>
                <form id='form'> 
                    <table>
                        <tr>
                            <td><label for="email"><b>Email Address</b></label></td>
                            <td><input class="inputs" type="text" placeholder="Enter Email Address" name="email" id="email" required></td>
                        </tr>
                        <tr>
                            <td><label for="uname"><b>Username</b></label></td>
                            <td><input class="inputs" type="text" placeholder="Enter Username" name="uname" id="uname" required></td>
                        </tr>
                        <tr>
                            <td><label for="psw"><b>Password</b></label></td>
                            <td><input class="inputs" type="password" placeholder="Enter Password" name="psw" id="psw" required></td>
                        </tr>
                    </table>
                    <button type="submit" id="submit-btn">Sign Up</button>
                </form>
                <a href="/login" class='bottom_links'>Already Have An Account?</a>
                <div id="myModal" class="modal">
                    <div id='errors'class="modal-content">
                        <span class="close">&times;</span>
                        <h3>One of the following may happend:</h3> <br>
                        <h4>Username is Already Taken.</h4>
                        <h4>Invalid Email.</h4>
                        <h4>Password:</h4>
                            <ul>
                                <li>Must be at least 8 characters.</li>
                                <li>Must be maximum 20 characters.</li>
                                <li>Must contain at least 1 lowercase letter.</li>
                                <li>Must contain at least 1 Uppercase letter.</li>
                                <li>Must contain at least 1 Number.</li>
                                <li>Must contain at least 1 Symbol.</li>
                            </ul>

                        <h4>Username:</h4>
                            <ul>
                                <li>Must be at least 4 characters.</li>
                                <li>Must be maximum 16 characters.</li>
                                <li>Can contain numbers.</li>
                                <li>Can contain lowercase and uppercase letters.</li>
                            </ul>
                    </div>
                </div>
        </center>
    </body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='javascript/register.js') }}"></script>
</html>